*, *::before, *::after {
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
}
 .timeline {
	 font: normal 10.6666666667px 'Titillium Web', sans-serif;
	 background: linear-gradient(54deg, #9164ff, #8bfff4);
	 color: #3c3f64;
	 overflow-x: hidden;
	 padding-bottom: 50px;
}
 .timeline ul li {
	 list-style-type: none;
	 position: relative;
	 width: 6px;
	 margin: 0 auto;
	 padding-top: 50px;
	 background: #fff;
}
 .timeline ul li::after {
	 content: '';
	 position: absolute;
	 left: 50%;
	 bottom: 0;
	 transform: translateX(-50%) rotate(45deg);
	 width: 20px;
	 height: 20px;
	 z-index: 2;
	 background: #eee;
}
 .timeline ul li div {
	 position: relative;
	 bottom: 0;
	 width: 400px;
	 padding: 20px;
	 background: #fff;
	 box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
	 border-radius: 5px;
	 display: flex;
	 align-items: center;
}
 .timeline ul li div time {
	 position: absolute;
	 background: #f5af19;
	 width: auto;
	 height: 30px;
	 top: -15px;
	 border-radius: 5px;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 letter-spacing: 2px;
}
 .timeline ul li div div {
	 height: 100px;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
}
 .timeline ul li div div p {
	 text-align: center;
}
 .timeline ul li div .discovery {
	 margin-right: 10px;
}
 .timeline ul li:nth-of-type(odd) > div {
	 left: 45px;
}
 .timeline ul li:nth-of-type(even) > div {
	 left: -439px;
}
 .timeline ul li div {
	 visibility: hidden;
	 opacity: 0;
	 transition: all 0.5s ease-in-out;
}
 .timeline ul li:nth-of-type(odd) div {
	 transform: translate3d(100px, -10px, 0) rotate(10deg);
}
 .timeline ul li:nth-of-type(even) div {
	 transform: translate3d(-100px, -10px, 0) rotate(10deg);
}
 .timeline ul li.in-view div {
	 transform: none;
	 visibility: visible;
	 opacity: 1;
}
 @media screen and (max-width: 1600px) {
	 .timeline ul li div {
		 width: 250px;
		 flex-direction: column;
	}
	 .timeline ul li div div {
		 width: 80%;
		 margin: 10px;
	}
	 .timeline ul li:nth-of-type(even) > div {
		 left: -289px;
	}
}
 @media screen and (max-width: 600px) {
	 body {
		 background: #8bfff4;
	}
	 .timeline ul li {
		 margin-left: 20px;
	}
	 .timeline ul li div {
		 width: calc(100vw - 91px);
	}
	 .timeline ul li:nth-of-type(even) > div {
		 left: 45px;
	}
}

/* timeline 1 */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.timeline1 {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  background: #456990;
  color: #fff;
  overflow-x: hidden;
  padding-bottom: 50px;
}


/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro {
  background: #f45b69;
  padding: 100px 0;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline1 ul {
  background: #456990;
  padding: 50px 0;
}

.timeline1 ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline1 ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline1 ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #f45b69;
}

.timeline1 ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline1 ul li:nth-child(odd) div {
  left: 45px;
}

.timeline1 ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #f45b69 transparent transparent;
}

.timeline1 ul li:nth-child(even) div {
  left: -439px;
}

.timeline1 ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #f45b69;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline1 ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline1 ul li.in-view::after {
  background: #f45b69;
}

.timeline1 ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline1 ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline1 ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline1 ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline1 ul li div {
    width: 250px;
  }
  .timeline1 ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
	.nav-link{
		margin-left: 130px;
		margin-right: auto;
	}
}

@media screen and (max-width: 600px) {
  .timeline1 ul li {
    margin-left: 20px;
  }
  .timeline1 ul li div {
    width: calc(100vw - 91px);
  }
  .timeline1 ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline1 ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #f45b69 transparent transparent;
  }
	.nav-link{
		margin-left: 130px;
		margin-right: auto;
	}
}


/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline1-clippy ul li::after {
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.timeline1-rhombus ul li::after {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline1-rhombus ul li div::before {
  bottom: 12px;
}

.timeline1-star ul li::after {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.timeline1-heptagon ul li::after {
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}

.timeline1-infinite ul li::after {
  animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.25);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}


/* FOOTER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  position: fixed;
  right: 0;
  bottom: 20px;
  display: flex;
  align-items: center;
  padding: 5px;
  color: black;
  background: rgba(255, 255, 255, 0.65);
}

.page-footer a {
  display: flex;
  margin-left: 4px;
}


#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}



/* Projects */
#slider{
	height: 500px;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	width: 1600px;
	margin: auto;
}

.subcontainer{
	width: 85%;
	margin: auto;
}
.slide-img{
	width: 100%;
	height: 275px;
	border-radius: 5px;
	background-position: center;
	background-size: cover;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}

.slide-img:hover{
	box-shadow: 0 0 0 200px rgba(0,0,0,0.9) inset;
}

.slide-img a{
	opacity: 0;
	text-decoration: none;
	transform: scale(0);
	transition: 0.8s;
	font-size: 1.5rem;
	color: white;
}

.slide-img:hover a{
	opacity: 1;
	transform: scale(1);
}
.img-1{
	background-image: url("https://user-images.githubusercontent.com/65628351/163190438-5db623e1-94bb-44c7-a177-86973dbbf935.png");
}
.img-2{
	background-image: url("https://user-images.githubusercontent.com/65628351/178671143-6f445537-4986-431c-b9ac-d03db8421277.PNG");
}
.img-3{
	background-image: url("https://user-images.githubusercontent.com/65628351/178672372-8b0cf6d2-24a7-4d09-8448-4c16f4bf789c.png");
}
.img-4{
	background-image: url("Photos/sdn.PNG");
}
@media(max-width:1000px){
	.abc{
		width: 80%;
		height: 10%;
	}
	.container{
		width: 100%;
	}
	.nav-link{
		margin-left: 130px;
		margin-right: auto;
	}
}


/* codepen*/
#particles-js {
  /* position: absolute; */
  width: auto;
  height: auto;
  background-color: #181c2b;
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* background-position: 50% 50%; */
}

canvas{
	background: black;
	width: auto;
	height: auto;
}

@import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono);
#edit-with-js-bin {
  display: none !important;
}

.london {
  background: url(https://www.architectsjournal.co.uk/pictures/2000x2000fit/9/4/2/1369942_London_Skyline.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: none;
}

.header {
  position: relative;
  width: 100%;
  text-align: left;
  color: #F2F1EF;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  display: block;
}
